* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Roboto, "sans-serif";
}

svg {
  width: 50px;
  height: 50px;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-columns: repeat(5, 1fr);
}

.side-bar {
  background-color: dodgerblue;
  grid-area: 1 / 1 / 6 /2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(auto-fit, 300px) 1fr 1fr;
  padding: 30px;
  border-radius: 5%;
}

.logo {
  grid-area: 1 / 1 /2 /3;
}

.main {
  grid-area: 2/ 1 /3 /2;
}

.settings {
  grid-area: 3 / 1 /4 /2;
}

.side-bar ul {
  display: grid;
  grid-template-rows: 1fr;
  gap: 20px;
  list-style-type: none;
  padding: 0;
  margin: 30px;
}


.header {
  grid-area: 1 / 2 / 2 / 5;
  background-color: hotpink;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
}

.top-header {
  grid-area: 1 / 1 /2 /2;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr;
}


.search {
  grid-area: 1 / 1 /2 /2;
}

#search {
  grid-area: 1 / 2 /2 /4;
}

.notification {
  grid-area: 1/ 5 / 2 / 6;
}

.profile-pic {
  grid-area: 1 / 6 /2 /7;

}

.user {
  grid-area: 1 /7 /2 /8;
}

.bottom-header {
  grid-area: 2 / 1 /3 2;
}

.main-content {
  grid-area: 2 / 2 /6 /5;
  background-color: #bccbde;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 15px;
}

.projects {
  display: grid;
  grid-template-columns: repeat(2, minmax(250px, 1fr));
  gap: 10px;
  grid-area: 1 / 1 /3 / 3;

}

.title {
  grid-area: 1 / 1 /2 /3;
}

.projects .card {
  height: 200px;
  background-color: #FFFFFF;
  color: black;
  text-align: center;
  border-radius: 10px;
  margin-left: 10px;
  border: 10px solid white;
  border-left-color: #ffb300;
}

.projects .card>svg {
  width: 30px;
  height: 30px;
}

.card p {
  font-size: 18px;
  text-align: center;
  padding: 5px;
}

.announcements {
  grid-column: 3/ 4;
  grid-row: 2/ 3;
  grid-area: 1 / 3 / 2 /4;
  background-color: #ffffff;
  border-radius: 5%;
}

.trending {
  grid-column: 3 /4;
  grid-row: 3 / 3;
  grid-area: 2/ 3 / 3 /4;

}
